* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Babylonica', cursive; */
    font-family: 'Libre Caslon Display', serif;
}
.uppercase {
    text-transform: uppercase;
}
.pr-40px {
    padding-right: 40px;
}
.pl-60px {
    padding-left: 60px;
}
body {
    background-color: #232323;
}
body::-webkit-scrollbar {
    width: 5px;
    background-color: #000;
}
body::-webkit-scrollbar-thumb {
    background-color: #c5906d;
}
header {
    background-color: #000;
    width: 100%;
    padding: 2% 10%;
    color: #fff;
    font-family: 'Libre Caslon Display', serif;
    display: flex;
    justify-content: center;
}
header span {
    width: auto;
    font-size: 45px;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 14px;
}
header nav ul li {
    cursor: pointer;
}
header nav ul li:hover {
    color:#E3D1C5;
}
header nav {
    width: 70%;
    margin: auto;
}
#style {
    font-family: 'Babylonica', cursive;
}
.first-banner {
    width: 100%;
    height: 60vh;
    background-image: url('./images/@ggeorgialh.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.fb-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}
.fb-text div {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.fb-title {
    background-color:#E3D1C5;
    width: 200px;
    margin: auto;
}
.fb-body {
    background-color: #232323;
    color: #fff;
    width: 300px;
}
.fb-body p {
     font-family: 'Babylonica', cursive;
     font-size: 25px;
     padding: 0;
     margin: 0;
}
.fb-body h1 {
    font-size: 35px;
}
.standout {
    display: flex;
    width: 100%;
    height: 50vh;
}
.standout div {
    width: 50%;
}
.standout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.standout .standout-text {
    background-color:#E3D1C5;
    padding: 20px 30px;
}
.standout .standout-text h4 {
    font-size: 14px;
    padding-bottom: 5px;
}
.standout .standout-text h2 {
    font-size: 25px;
    padding-bottom: 5px;
    color: #fff;
}
.standout .standout-text p {
    font-size: 12px;
    padding-bottom: 15px;
    text-align: justify;
  text-justify: inter-word;
}
.standout .standout-text button {
    background-color: #232323;
    color: #fff;
    font-size: 10px;
    padding: 10px 20px;
    border: none;
}
.services {
    background-image: url('./images/f27d0089-b426-4d44-a601-17bb3ed12d79.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
    color: #fff;
}
.services-1 {
    width: 60%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;

}
.services-1 div h5 {
    font-family: 'Babylonica', cursive ;
    font-size: 25px;
}
.services-1 div h2 {
    font-size: 35px;
    padding-right: 20px;
}
.services-1 .decorative {
    border-bottom: 1px solid #E3D1C5;
    width: 90%;
    height: 60px;
}
.services-2 {
    width: 60%;
    margin: auto; 
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.services-2 div p {
    width: 200px;
    flex-wrap: wrap;
    min-height: 40px;
    text-align: justify;
  text-justify: inter-word;
}
.services-2 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.services-2 button {
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: none;
}
.services-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 25px auto 0 auto;
}
.services-3 .decorative {
    border-bottom: 1px solid #E3D1C5;
    width: 35%;
}
.services-3 button {
    border: 1px solid #E3D1C5;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    width: 30%;
}
.the-best {
    display: flex;
}
.the-best div {
    width: 50%;
    height: 50vh;
}
.the-best div:first-of-type {
    background-color: #E3D1C5;
    padding: 30px 40px;
    position: relative;
}
.the-best div:first-of-type h5 {
    font-size: 18px;
    color: #232323;
    padding-bottom: 10px;
}
.the-best div:first-of-type h2 {
    font-size: 25px;
    color: #fff;
    padding-bottom: 10px;
}
.the-best div:first-of-type p {
    font-size: 12px;
    padding-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}
.the-best div:first-of-type button {
    border: none;
    background-color: #232323;
    padding: 10px 20px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 40px;
    bottom: 20px;
}
.the-best div:last-of-type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client-love {
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: #c5906d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.testimonials {
    width: 40%;
    margin: auto;
}
#signature {
    font-family: 'Babylonica', cursive;
    padding: 10px 0;
}
.client-love img {
    height: 100px;
    width: 100px;
}
#love1 {
    position: absolute;
    top: -25%;
    left: 15%;
    border-radius: 50%;
    border: 3px solid #7b573f;
}
#love2 {
    position: absolute;
    bottom: -25%;
    right: 15%;
    border-radius: 50%;
    border: 3px solid #7b573f;
}
.client-love h2 {
    font-size: 25px;
    color: #fff;
    border-bottom: 1px solid #7b573f;
    padding-bottom: 10px;
}
.founder {
    background-color: #E3D1C5;
}
#founder-wrapper {
    width: 60%;
    height: 65vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
#founder-wrapper div {
    width: 50%;
    height: 100%;
}
#founder-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#founder-wrapper div:last-of-type {
    padding: 20px;
}
#founder-wrapper div:last-of-type h4 {
    font-size: 14px;
    padding-bottom: 5px;
}
#founder-wrapper div:last-of-type h2 {
    font-size: 24px;
    padding-bottom: 5px;
}
#founder-wrapper div:last-of-type p {
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}
#founder-wrapper div:last-of-type .button-wrapper {
    width: 100%;
    text-align: center;
}
#founder-wrapper div:last-of-type button {
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #232323;
    color:#fff;
}
.carousel {
    width: 100%;
    height: 20vh;
    border: 2px solid #232323;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}
.carousel img {
    height: 100%;
    object-fit: cover;
    padding: 0 5px; border: 1px solid red;
    filter: brightness(0.5);
}